@media(max-width: 1170px){
    .relatorio {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 20px;
    }
    button, input{
        margin: 10px;
    }
    .div-table{
        overflow-x: scroll;
    }
  }

  @media(max-width: 680px){
   header{
    height: auto;
    background-image: none;
   }
   
    header h1{
        font-size: 20px;   
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        max-width: 500px;
    }
      
      input, select, button {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
      
    select{
        margin-inline-start: 10px;
    }
    .div-table{
      width: 80%;
        overflow-x: scroll;
    }
    table th, table td {
        padding: 8px 10px;
        font-size: 14px;
      }
      .div-table button{
        align-items: center;
        padding: 8px 4px;
        font-size: 10px; 
      }
  }